/* RobotoMono */
@font-face {
    font-family: 'RobotoMono-Regular';
    src: url("../fonts/RobotoMono-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Helvetica */
@font-face {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica/Helvetica.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url("../fonts/Helvetica/HelveticaBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* LexendDeca */
@font-face {
    font-family: 'LexendDeca-Regular';
    src: url("../fonts/LexendDeca/LexendDeca-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexendDeca-Thin';
    src: url("../fonts/LexendDeca/LexendDeca-Thin.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexendDeca-Black';
    src: url("../fonts/LexendDeca/LexendDeca-Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexendDeca-Bold';
    src: url("../fonts/LexendDeca/LexendDeca-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexendDeca-SemiBold';
    src: url("../fonts/LexendDeca/LexendDeca-SemiBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
